body{
      font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex !important;
    flex-direction: column !important;
    min-height: 100vh !important;
}
.container{
    flex:1 !important;
}
/* navbar */
.navbar{
    height: 80px !important;
    background-color: white !important;
    z-index: 1000 !important;
    /* overflow: hidden !important; */
    top:0 !important;
}
.navbar-brand i{
    font-size: 2.5rem;
    color: #fe424d;
}

.navbar-brand p{
    font-size: 1.5rem;
    font-weight: 700;
    margin-left:10px;
    color: #fe424d;
}

.navbar-nav a{
    font-size: 1.1rem !important;
    color: #2f2e2e !important;  
}

/* footer */

.footer{
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    justify-content: center;
    align-items: space-evenly;
    display: flex;
    flex-wrap:wrap;
    
}
.footer-icons i{
    font-size: 1.2rem !important;
    margin-right: 1rem;    
}
.footer-icons,.footer-conditions,.footer-company{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-conditions a{
    text-decoration: none !important;
    color: #686565;
    font-weight: 500;
}
.footer-conditions a:hover{
    text-decoration: underline !important;
}

/* card */
.listing-card{
    margin-bottom: 2rem !important;
    border: none !important;
}
.card-body {
    padding: 0 !important;
    font-size: .9rem !important;
}
.f-anchor{
    text-decoration: none;
}
.card-img-top{
    width: 100% !important;
    border-radius: 1rem !important;
    height: 18rem !important;
    object-fit: cover;
}
/* 
overlay */
.card-img-overlay{
display: flex;
align-items: center;
justify-content: space-between;
opacity: 0;
} 
.card-img-overlay:hover{
    opacity: 1;
}
/* .left-arrow{
    visibility: hidden;
} */

.right-arrow,.left-arrow{
    text-align: center;
    height: 27px;
    width: 27px;
    border-radius: 50%;
    background-color: white;
    border: none;
}
.right-arrow,.left-arrow i{
    font-size: 13px;
}
.btn-add{
    background-color: #fe424d !important;
    border: none;
}

/* show */

.show-img{
    height: 35vh !important;
    /* object-fit:cover; */
}

/* map */

#map { 
    width:40vw;
    height:50vh;
   }
   /* responsiveness */

   @media only screen and (max-width: 765px) {
    
/* navbar1 */
    .airbnb{
        display: none;
       }
    .nav-icon{
        font-size: 30px !important;
        margin-right: 0 !important;
    }
    .search-bar{
       margin-left: -5%;
       }
    .search-input{
       font-size: 12px !important;
       font-weight: 600;
    }   
    .search-btn{
        font-size: 12px !important;
    }
    .side-button{
        font-size: 15px !important;
    }

    /* show  */

    .btn-edit{
        margin-left: 0 !important;
        margin-right: 20px !important;
    }
    .review,.map-area,.listing-card{
        width:100% !important;
        margin-left: 0 !important;
    }
    #map{
        width: 100% !important;
    }

    /* add and edit*/
    .new-listing label{
        font-size: .8rem;
    }
    .new-listing input{
        font-size: .75rem;
    }
    .new-listing{
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }
    .new-listing h3{
        font-size: 1rem;
    } 

    /* navbar-2 */
    .navbar-2nd {
        width: 100%;
        overflow-x: scroll;
        white-space: nowrap;
    }
    .navbar-2nd::-webkit-scrollbar {
        display: none;
    }
   .filter-icon{
    margin-right:3rem;
   }
  }
